In [8]:
import numpy as np
import pandas as pd
from glob import glob
from astropy.io import fits
from astropy.table import Table

In [34]:
def merge_all(path):
    
    files = glob(f'{path}*.fits')
    
    dflist = []
    
    for x in files:
    
        img = fits.open(x)
    
        img.info()

        data = img[1].data
        
        newdf = Table(data)
        df = newdf.to_pandas()
        
        dflist.append(df)
        
        for m in df.columns:
            
            print('For four dataframes: ')
            print(f'{m}:',df[m].isna().sum())
        
    final_df = pd.concat(dflist,ignore_index=True)
    
    print(dflist[1].columns)
#     print(final_df['F1_F_A'].isna().sum())
   
#     for y in final_df.columns:
        
#         print('For final dataframe')
#         print(final_df[y].isna().sum())
    
    
merge_all('/Users/swagat98/MAIN_UVIT_cat/')

Filename: /Users/swagat98/MAIN_UVIT_cat/f1mergedtable.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU       4   ()
  1                1 BinTableHDU     72   8927R x 32C   [8A, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D]
For four dataframes:
SRC_ID: 0
For four dataframes:
RA: 0
For four dataframes:
DEC: 0
For four dataframes:
F1_M_A: 0
For four dataframes:
F1_MER_A: 0
For four dataframes:
F1_M_I: 0
For four dataframes:
F1_MER_I: 0
For four dataframes:
FLAGS: 0
For four dataframes:
F1_F_A: 0
For four dataframes:
F1_FER_A: 0
For four dataframes:
A_IMAGE: 0
For four dataframes:
B_IMAGE: 0
For four dataframes:
A_WORLD: 0
For four dataframes:
B_WORLD: 0
For four dataframes:
X_IMAGE: 0
For four dataframes:
Y_IMAGE: 0
For four dataframes:
X_WORLD: 0
For four dataframes:
Y_WORLD: 0
For four dataframes:
ERRA_IMG: 0
For four dataframes:
ERRB_IMG: 0
For four dataframes:
ERRA_WLD: 0
For four dataframes:
ERRB_WLD: 0
For four dataframes:
XY_WORLD: 0
For four dataframes:
FWHM_WLD: 0
For four dataframes:
FWHM_IMG: 0
For four dataframes:
CLS_STR: 0
For four dataframes:
ELLIP: 0
For four dataframes:
THEJ2000: 0
For four dataframes:
KRON_RAD: 0
For four dataframes:
GAL_RA: 0
For four dataframes:
GAL_DEC: 0
For four dataframes:
DIST_FOV: 0
Filename: /Users/swagat98/MAIN_UVIT_cat/UVIT-cat.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU       4   ()
  1                1 BinTableHDU    180   100162R x 86C   [8A, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D]
For four dataframes:
SRC_ID: 0
For four dataframes:
RA: 0
For four dataframes:
DEC: 0
For four dataframes:
F1_M_A: 0
For four dataframes:
F1_MER_A: 0
For four dataframes:
F1_M_I: 0
For four dataframes:
F1_MER_I: 0
For four dataframes:
FLAGS: 0
For four dataframes:
F1_F_A: 0
For four dataframes:
F1_FER_A: 0
For four dataframes:
A_IMAGE: 0
For four dataframes:
B_IMAGE: 0
For four dataframes:
A_WORLD: 0
For four dataframes:
B_WORLD: 0
For four dataframes:
X_IMAGE: 0
For four dataframes:
Y_IMAGE: 0
For four dataframes:
X_WORLD: 0
For four dataframes:
Y_WORLD: 0
For four dataframes:
ERRA_IMG: 0
For four dataframes:
ERRB_IMG: 0
For four dataframes:
ERRA_WLD: 0
For four dataframes:
ERRB_WLD: 0
For four dataframes:
XY_WORLD: 0
For four dataframes:
FWHM_WLD: 0
For four dataframes:
FWHM_IMG: 0
For four dataframes:
CLS_STR: 0
For four dataframes:
ELLIP: 0
For four dataframes:
THEJ2000: 0
For four dataframes:
KRON_RAD: 0
For four dataframes:
GAL_RA: 0
For four dataframes:
GAL_DEC: 0
For four dataframes:
DIST_FOV: 0
For four dataframes:
F2_M_A: 0
For four dataframes:
F2_MER_A: 0
For four dataframes:
F2_M_I: 0
For four dataframes:
F2_MER_I: 0
For four dataframes:
F2_F_A: 0
For four dataframes:
F2_FER_A: 0
For four dataframes:
F3_M_A: 0
For four dataframes:
F3_MER_A: 0
For four dataframes:
F3_M_I: 0
For four dataframes:
F3_MER_I: 0
For four dataframes:
F3_F_A: 0
For four dataframes:
F3_FER_A: 0
For four dataframes:
F5_M_A: 0
For four dataframes:
F5_MER_A: 0
For four dataframes:
F5_M_I: 0
For four dataframes:
F5_MER_I: 0
For four dataframes:
F5_F_A: 0
For four dataframes:
F5_FER_A: 0
For four dataframes:
F7_M_A: 0
For four dataframes:
F7_MER_A: 0
For four dataframes:
F7_M_I: 0
For four dataframes:
F7_MER_I: 0
For four dataframes:
F7_F_A: 0
For four dataframes:
F7_FER_A: 0
For four dataframes:
N1_M_A: 0
For four dataframes:
N1_MER_A: 0
For four dataframes:
N1_M_I: 0
For four dataframes:
N1_MER_I: 0
For four dataframes:
N1_F_A: 0
For four dataframes:
N1_FER_A: 0
For four dataframes:
N2_M_A: 0
For four dataframes:
N2_MER_A: 0
For four dataframes:
N2_M_I: 0
For four dataframes:
N2_MER_I: 0
For four dataframes:
N2_F_A: 0
For four dataframes:
N2_FER_A: 0
For four dataframes:
N3_M_A: 0
For four dataframes:
N3_MER_A: 0
For four dataframes:
N3_M_I: 0
For four dataframes:
N3_MER_I: 0
For four dataframes:
N3_F_A: 0
For four dataframes:
N3_FER_A: 0
For four dataframes:
N5_M_A: 0
For four dataframes:
N5_MER_A: 0
For four dataframes:
N5_M_I: 0
For four dataframes:
N5_MER_I: 0
For four dataframes:
N5_F_A: 0
For four dataframes:
N5_FER_A: 0
For four dataframes:
N6_M_A: 0
For four dataframes:
N6_MER_A: 0
For four dataframes:
N6_M_I: 0
For four dataframes:
N6_MER_I: 0
For four dataframes:
N6_F_A: 0
For four dataframes:
N6_FER_A: 0
Filename: /Users/swagat98/MAIN_UVIT_cat/f2mergedtable.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU       4   ()
  1                1 BinTableHDU     72   315R x 32C   [6A, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D]
For four dataframes:
SRC_ID: 0
For four dataframes:
RA: 0
For four dataframes:
DEC: 0
For four dataframes:
F2_M_A: 0
For four dataframes:
F2_MER_A: 0
For four dataframes:
F2_M_I: 0
For four dataframes:
F2_MER_I: 0
For four dataframes:
FLAGS: 0
For four dataframes:
F2_F_A: 0
For four dataframes:
F2_FER_A: 0
For four dataframes:
A_IMAGE: 0
For four dataframes:
B_IMAGE: 0
For four dataframes:
A_WORLD: 0
For four dataframes:
B_WORLD: 0
For four dataframes:
X_IMAGE: 0
For four dataframes:
Y_IMAGE: 0
For four dataframes:
X_WORLD: 0
For four dataframes:
Y_WORLD: 0
For four dataframes:
ERRA_IMG: 0
For four dataframes:
ERRB_IMG: 0
For four dataframes:
ERRA_WLD: 0
For four dataframes:
ERRB_WLD: 0
For four dataframes:
XY_WORLD: 0
For four dataframes:
FWHM_WLD: 0
For four dataframes:
FWHM_IMG: 0
For four dataframes:
CLS_STR: 0
For four dataframes:
ELLIP: 0
For four dataframes:
THEJ2000: 0
For four dataframes:
KRON_RAD: 0
For four dataframes:
GAL_RA: 0
For four dataframes:
GAL_DEC: 0
For four dataframes:
DIST_FOV: 0
Filename: /Users/swagat98/MAIN_UVIT_cat/f3mergedtable.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU       4   ()
  1                1 BinTableHDU     72   1048R x 32C   [7A, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D, D]
For four dataframes:
SRC_ID: 0
For four dataframes:
RA: 0
For four dataframes:
DEC: 0
For four dataframes:
F3_M_A: 0
For four dataframes:
F3_MER_A: 0
For four dataframes:
F3_M_I: 0
For four dataframes:
F3_MER_I: 0
For four dataframes:
FLAGS: 0
For four dataframes:
F3_F_A: 0
For four dataframes:
F3_FER_A: 0
For four dataframes:
A_IMAGE: 0
For four dataframes:
B_IMAGE: 0
For four dataframes:
A_WORLD: 0
For four dataframes:
B_WORLD: 0
For four dataframes:
X_IMAGE: 0
For four dataframes:
Y_IMAGE: 0
For four dataframes:
X_WORLD: 0
For four dataframes:
Y_WORLD: 0
For four dataframes:
ERRA_IMG: 0
For four dataframes:
ERRB_IMG: 0
For four dataframes:
ERRA_WLD: 0
For four dataframes:
ERRB_WLD: 0
For four dataframes:
XY_WORLD: 0
For four dataframes:
FWHM_WLD: 0
For four dataframes:
FWHM_IMG: 0
For four dataframes:
CLS_STR: 0
For four dataframes:
ELLIP: 0
For four dataframes:
THEJ2000: 0
For four dataframes:
KRON_RAD: 0
For four dataframes:
GAL_RA: 0
For four dataframes:
GAL_DEC: 0
For four dataframes:
DIST_FOV: 0
Index(['SRC_ID', 'RA', 'DEC', 'F1_M_A', 'F1_MER_A', 'F1_M_I', 'F1_MER_I',
       'FLAGS', 'F1_F_A', 'F1_FER_A', 'A_IMAGE', 'B_IMAGE', 'A_WORLD',
       'B_WORLD', 'X_IMAGE', 'Y_IMAGE', 'X_WORLD', 'Y_WORLD', 'ERRA_IMG',
       'ERRB_IMG', 'ERRA_WLD', 'ERRB_WLD', 'XY_WORLD', 'FWHM_WLD', 'FWHM_IMG',
       'CLS_STR', 'ELLIP', 'THEJ2000', 'KRON_RAD', 'GAL_RA', 'GAL_DEC',
       'DIST_FOV', 'F2_M_A', 'F2_MER_A', 'F2_M_I', 'F2_MER_I', 'F2_F_A',
       'F2_FER_A', 'F3_M_A', 'F3_MER_A', 'F3_M_I', 'F3_MER_I', 'F3_F_A',
       'F3_FER_A', 'F5_M_A', 'F5_MER_A', 'F5_M_I', 'F5_MER_I', 'F5_F_A',
       'F5_FER_A', 'F7_M_A', 'F7_MER_A', 'F7_M_I', 'F7_MER_I', 'F7_F_A',
       'F7_FER_A', 'N1_M_A', 'N1_MER_A', 'N1_M_I', 'N1_MER_I', 'N1_F_A',
       'N1_FER_A', 'N2_M_A', 'N2_MER_A', 'N2_M_I', 'N2_MER_I', 'N2_F_A',
       'N2_FER_A', 'N3_M_A', 'N3_MER_A', 'N3_M_I', 'N3_MER_I', 'N3_F_A',
       'N3_FER_A', 'N5_M_A', 'N5_MER_A', 'N5_M_I', 'N5_MER_I', 'N5_F_A',
       'N5_FER_A', 'N6_M_A', 'N6_MER_A', 'N6_M_I', 'N6_MER_I', 'N6_F_A',
       'N6_FER_A'],
      dtype='object')

In [35]:
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df2 = pd.DataFrame({
    'B': [7, 8],
    'C': [9, 10]
})

df3 = pd.DataFrame({
    'A': [11, 12],
    'C': [13, 14],
    'D': [15, 16]
})

In [36]:
df1,df2,df3

(   A  B
 0  1  4
 1  2  5
 2  3  6,
    B   C
 0  7   9
 1  8  10,
     A   C   D
 0  11  13  15
 1  12  14  16)

In [37]:
concatenated_df = pd.concat([df1, df2, df3], axis=0, ignore_index=True, sort=False)
concatenated_df

      A    B     C     D
0   1.0  4.0   NaN   NaN
1   2.0  5.0   NaN   NaN
2   3.0  6.0   NaN   NaN
3   NaN  7.0   9.0   NaN
4   NaN  8.0  10.0   NaN
5  11.0  NaN  13.0  15.0
6  12.0  NaN  14.0  16.0